.app-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eff1f1;
  box-shadow: 0px 0px 10px 0px #9f9f9f;
  &__link {
    line-height: 3;
    background-color: #2db29a;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    &:hover {
      color: #fff;
      background-color: #289f8a;
      text-decoration: none;
    }
  }
  &__logout {
    cursor: pointer;
  }
  &__user {
    display: inline-block;
  }
  &__user-name {
    margin-right: 10px;
  }
  &__user-avatar {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
}
